:root{
  // 组件使用的所有样式变量
  --uploadAny-btn-color: #abacaf;
  --uploadAny-active-color: #409eff;
  --uploadAny-file-item-size-width: 120px;
  --uploadAny-file-item-size-height: 80px;
  --uploadAny-image-item-bg: #f5f7fa;
}
